# openai key is mandatory (used for text to voice)
OPENAI_API_KEY=

# others can be used for reasoning and story text generation (optional)
ANTHROPIC_API_KEY=
DEEPSEEK_API_KEY=
OPENROUTER_API_KEY=

# choose your fighter! (last one will be used or comment out)
STORYGEN_PROVIDER=anthropic
STORYGEN_MODEL=claude-3-5-sonnet-latest

STORYGEN_PROVIDER=deepseek
STORYGEN_MODEL=deepseek-chat

STORYGEN_PROVIDER=openrouter
STORYGEN_MODEL=meta-llama/llama-3.3-70b-instruct
STORYGEN_MODEL=sao10k/l3.3-euryale-70b

STORYGEN_PROVIDER=mistral
STORYGEN_MODEL=mistral-small-latest

STORYGEN_PROVIDER=ollama
STORYGEN_MODEL=phi4

STORYGEN_PROVIDER=lmstudio
STORYGEN_MODEL=qwq-32b

STORYGEN_PROVIDER=openai
STORYGEN_MODEL=chatgpt-4o-latest

# storygen settings
STORYGEN_TARGET_DIR=mp3   # Default - ./mp3
STORYGEN_TMP_DIR=tmp      # Default - ./tmp
STORYGEN_LANGUAGE=english
STORYGEN_READSPEED=170
STORYGEN_AUDIENCE=        # Default "Children". Other examples: "Toddlers", "Teenagers", "Adults", etc
STORYGEN_MORALE_COUNT=    # If not set, will fallback to random: 1-3
STORYGEN_SPEECH_SPEED=0.9 # Default 0.9
STORYGEN_LENGTH_IN_MIN=8  # Default 8
STORYGEN_CHAPTERS=        # If not set, will use STORYGEN_LENGTH_IN_MIN to find good count. No matter what Min will be 3.
STORYGEN_PREREAD_LOOPS=   # Default 3, times how many times to read and adjust the story before finalizing it
