# LiteLLM Configuration
LITELLM_HOST=http://localhost:4000
LITELLM_API_KEY=sk-1234

# Model Configuration
STORYGEN_MODEL=zai-glm-4.6
STORYGEN_TTS_MODEL=tts-gemini

# storygen settings
STORYGEN_TARGET_DIR=mp3   # Default - ./mp3
STORYGEN_TMP_DIR=tmp      # Default - ./tmp
STORYGEN_LANGUAGE=english
STORYGEN_READSPEED=160    # Used to calculate story word count. (not impacting reading speed). If generated stories are too long (STORYGEN_LENGTH_IN_MIN) then lower this number.
STORYGEN_AUDIENCE=        # Default "Children". Other examples: "Toddlers", "fun, exciting story for a 10 year old kid using basic english", "Adults", etc
STORYGEN_MORALE_COUNT=    # If not set, will fallback to random: 1-3
STORYGEN_SPEECH_SPEED=1   # Default 1 - Try 0.9 or 0.8 for slower pace reading.
STORYGEN_LENGTH_IN_MIN=8  # Default 8 - final story audio length. Play with STORYGEN_SPEECH_SPEED and STORYGEN_READSPEED values to get this precise.
STORYGEN_PREREAD_LOOPS=2  # How many loops to pre-read and adjust the story before finalizing it. 0 will skip this step.
STORYGEN_CHAPTERS=        # If not set, will use STORYGEN_LENGTH_IN_MIN to find good count.

STORYGEN_VOICE=alloy      # Voice options: alloy, echo, fable, onyx, nova, shimmer
STORYGEN_TTS_POSTPROCESS=False # requires ffmpeg to be installed. Removes silences from final mp3 file. Better to turn this ON - set to: True.
STORYGEN_TTS_SPLITLEN=450      # Amount of txt sent to tts. Text splitting happens after chapter splits. Defaults 450 characters. 1200 is ok, but results in openai returning bunch of silence and repeating ending multiple times. In long run I expect openai to fix this.

STORYGEN_VOICE_PAUSES: "Big pause right before story chapter starts."
STORYGEN_VOICE_EMOTION: "Adopting to what is happening in the story and animate protagonist and villain voices when they are quoted or are talking."
STORYGEN_VOICE_PACING: "Slow enough for kids to understand but realisticly faster when story picks up action."
STORYGEN_VOICE_TONE: "Sincere, empathetic, involved, engaged. Animate protagonist and villain voices when they are quoted or are talking."
STORYGEN_VOICE_AFFECT: "Fun, active, involved and engaged teacher voice reading a bedtime story to group of kids."
